html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: dimgray;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

/* Menu */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: dimgray;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-family: "Courier New", Courier, monospace;
  height: 40px;
  line-height: 32px;
  margin: 3px;
  padding: 0px 17px;
  display: flex;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  transition: 0.6s ease;
}

nav ul li a:hover {
  border-bottom: 2px solid greenyellow;
  box-shadow: 5px 10px 30px rgba(0, 255, 128, 0.4);
}
.active {
  border-bottom: 2px solid greenyellow;
  box-shadow: 5px 10px 30px rgba(0, 255, 128, 0.4);
}
